<div class="relative flex max-h-96 mt-10 justify-center overflow-x-auto w-full sm:rounded-lg">
    <table class="w-full md:w-5/6 text-sm text-left rtl:text-right text-white border-collapse border-spacing-0 overflow-hidden rounded-lg">
      <!-- Encabezado -->
      <thead class="text-sm text-white font-extrabold uppercase bg-secondary rounded-t-lg">
        <tr>
          <th scope="col" class="px-6 py-3 rounded-tl-lg">Email</th>
          <th scope="col" class="px-6 py-3">Fecha</th>
          <th scope="col" class="px-6 py-3">Juego</th>
          <th scope="col" class="px-6 py-3 rounded-tr-lg">Puntos</th>
        </tr>
      </thead>
      <!-- Cuerpo de la tabla -->
      <tbody >
        <tr
          *ngFor="let item of listaResultados"
          class="bg-transparent border-b border-l border-r rounded hover:bg-gray-400 hover:text-black transition duration-200 ease-in-out"
        >
          <td class="px-6 border-r py-4 whitespace-nowrap">
            {{ item.email }}
          </td>
          <td class="px-6 py-4 border-r">
            {{ item.fecha.seconds * 1000 | date:'medium' }}
          </td>
          <td class="px-6 py-4 flex items-center border-r">
            <img
              *ngIf="getImageForGame(item.juego)"
              [src]="getImageForGame(item.juego)"
              alt="{{ item.juego }} icon"
              class="w-11 h-11 mr-2"
            />
            {{ item.juego }}
          </td>
          <td class="px-6 py-4">
            {{ item.puntos }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  