@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bonie";
  src: url("/ReklameScript.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Playpen";
  src: url("/PlaypenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  height: 100vh;
  letter-spacing: 1px;
  font-size: larger;

  
  // background-image: url("/fantasma-ezgif.com-optimize.gif"), url("/fondo.webp");
  // background-attachment: fixed, fixed;
  // background-size: 150px, cover;
  // background-repeat: no-repeat, no-repeat;
  // background-position: center, top;
  // will-change: background-position;
  background-image: url("/fondo.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  will-change: background-position;
}
