<div class="titulo">
    <h1 class="text-primary text-4xl text-center m-0 mt-5">
      Ruleta de la suerte
    </h1>
    <span class="text-xl text-black mt-3 mb-5"
   >Gira las veces que quieras! <br> 3 coincidencias: 100 puntos <br> 2 coincidencias: 30 puntos </span>
  </div>
  
  <div class="slot-machine">
    <div class="reel" *ngFor="let reel of reels">
      <img class="slot" [src]="reel.currentImage" alt="" />
    </div>
  </div>
  <div class="botonera">
    <div class="button-container">
      <button class="bg-primary py-7 rounded-md text-center inline-flex justify-center items-center " color="accent" (click)="girarReel()" [disabled]="start">
        Girar
        <ng-icon name="tablerReload" color="white"></ng-icon>

      </button>
      <button class=" bg-primary py-7 rounded-md text-center inline-flex justify-center items-center " color="warn" (click)="detenerReel()" [disabled]="!start">
        Detener
        <ng-icon name="matBackHand" color="white"></ng-icon>

      </button>
    </div>
  </div>